li {
  float: left;
  text-decoration: none;
  list-style-type: none;
}

li a{
  display: block;
  color: black;
  text-align: center;
  padding: 20px 8px;
  text-decoration: none;
  list-style-type: none;
}

li a:hover {
  text-decoration: none;
  list-style-type: none;
  background-color: #ced2db;
  color: #fff;
}

li a:active {
  text-decoration: none;
  list-style-type: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
  width: 100%;
  position: relative;
}

.dropdown-header:hover {
  background-color: #fff;
}

.navDropdown {
  display: block;
  width: 100%;
  text-align: center;
  background-color: #fff;
  border-bottom: 1px solid #D8D8D8;
}

.open>a{
  background-color: #ced2db;
  text-decoration: none;
  list-style-type: none;
}

 .dropdown-menu {
   border: none;
 }

.dropdown-menu a {
  border-bottom: 1px solid #D8D8D8;
}

.dropdown-toggle a:hover {
  text-decoration: none;
  list-style-type: none;
}

.caret {
  float: right;
}
