.header-title {
  text-align: center;
}

.price-box {
  width: 95%;
  margin: 0 2.5% 0 2.5%;
  padding-top: 10px;
  height: 10%;
  border-top: 1px solid #B69F58;
  border-bottom: 1px solid #B69F58;
}

.price-interval {
  margin-left: 4.5%;
  font-size: 1.2em;
  width: 95%;
  margin-bottom: 3%;
  border: none;
  appearance: none;
  cursor: pointer;
}

.price-interval:focus {
  outline: none;
}

.filter-menu {
  position: fixed;
  right: 5%;
  top: 5%;
}

.salon-data {
  width: 95%;
  float: left;
  margin: 3.5% 2.5% 3.5% 2.5%;
  border-bottom: 2px solid #F9F9F9;
}

.time-choose-salon {
  margin-top: 1.2%;
  font-weight: bold;
  margin-right: 3%;
  float: left;
}

.name-choose-salon {
  margin-left: 5%;
  margin-right: 13%;
  float: left;
  width: 45%;
  font-size: 1.3em;
  color: #202020;
}

.price-choose-salon {
  font-weight: bold;
  color: #202020;
  display: inline-block;
  margin-top: 1.2%;
}

.rightArrow-choose-salon {
  position: fixed;
  right: 5%;
}

.stars-choose-salon {
  float: left;
  margin-left: 17%;
}

.rating-choose-salon {
  font-size: 0.7em;
  float: left;
  margin-top: 1.2%;
  margin-left: 2%;
}

.timeEst-choose-salon {
  margin-left: 34%;
  color: #656565;
}

.adress-choose-salon {
  margin-left: 17%;
  color: #656565;
}

.down-arrow {
  position: fixed;
  top: 12.3%;
  right: 5%;
  width: 5%;
  pointer-events:none;
}
