.price-interval {
  padding: 0;
  width: 100%;
  margin: 0;
  margin: 2%;
  background: #FFFFFF;
  border-top: 1px solid #B69F58;
  border-bottom: 1px solid #B69F58;
}

.itopbar {
  position: absolute;
  width: 92%;
  top: 0%;
  opacity: 0.4;
}

.heart {
  position: absolute;
  right: 7%;
  top: 5%;
}

.stars {
  position: absolute;
  left: 7%;
  top: 32%;
  width: 25%;
}

.number {
  position: absolute;
  left: 35%;
  top: 32%;
  color: #F9F9F9;
}

.type-of-saloon {
  position: absolute;
  left: 7%;
  top: 25%;
  color: #F9F9F9;
}

.info-schedule-container {
  border-bottom: 20px solid #F9F9F9;
  display: block;
  padding: 30px;
}

.info-schedule {
  width: 50%;
  float: left;
  text-align: center;
  font-size: 1.5em;
  color: black;
  list-style-type: none;
}

.info-schedule a {
  text-decoration: none;
  color: black;
}

.info-schedule:hover {
  border-bottom: 2px solid #B69F58;
}

.saloon-name {
  font-size: 2em;
  text-align: center;
}

.find-saloon, .watch-saloon, .phone-saloon, .web-saloon {
  margin: 3%;
}

.saloon-desc {
  margin-left: 3.5%;
}

.saloon-border {
  border-bottom: 1px solid #F9F9F9;
}
