.itopbar {
  position: absolute;
  width: 92%;
  top: 0%;
  opacity: 0.4;
}

.heart {
  position: absolute;
  right: 7%;
  top: 5%;
}

.stars {
  position: absolute;
  left: 7%;
  top: 32%;
  max-width: 2%;
  min-width: 25%;
}

.number {
  position: absolute;
  left: 35%;
  top: 32%;
  color: #F9F9F9;
}

.type-of-salon {
  position: absolute;
  left: 7%;
  top: 25%;
  color: #F9F9F9;
}

.info-schedule-container {
  border-bottom: 20px solid #F9F9F9;
  display: block;
  padding: 30px;
}

.info-schedule {
  width: 50%;
  float: left;
  text-align: center;
  font-size: 1.5em;
  color: #2B2B2B;
  list-style-type: none;
}

.info-schedule a {
  text-decoration: none;
  color: #2B2B2B;
}

.info-schedule:hover {
  border-bottom: 2px solid #B69F58;
}

.salon-name {
  font-size: 2em;
  text-align: center;
}

.find-salon, .watch-salon, .phone-salon, .web-salon {
  margin: 3%;
}

.salon-desc {
  margin-left: 3.5%;
}

.salon-border {
  border-bottom: 1px solid #F9F9F9;
}

.salons-backArrow img {
  vertical-align: middle;
  transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  opacity: 0.7;
}

.salons-backArrow:hover img {
  opacity: 1;
  width: 3%;
}
